<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2324B1Q1x.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>2324B1Q2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>2324B1Q2x.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2324B1Q3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>2324BAQ1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>2324BAQ2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>2324BAQ3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>2324BbQ1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>2324BbQ2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>2324BbQ3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>2324BcQ1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>2324BcQ2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>2324BcQ3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>2425B1Q1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>2425B1Q2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>2425B1Q3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>2425B2Q1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>2425B2Q2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>2425B2Q3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>2425R3BQ1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>2425R3BQ2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>2425R3BQ3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>2425R3SQ1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>2425R3SQ2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>2425R3SQ3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>2425S1Q1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>2425S1Q2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>2425S1Q3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>2425S2Q1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>2425S2Q2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>2425S2Q3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>R4BQ1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>R4BQ2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>R4BQ3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>fusaco.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB241D0D2CF2F43F001B9EFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB241D1E2CF3C361001B9EFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB241E552CF55A75001B9EFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB303D122D6939EB0020EF10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB303D1D2D6939F80020EF10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB303D282D693A030020EF10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB303D482D6B484E0020EF10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB303D532D6B485D0020EF10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB303D5E2D6B48680020EF10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4393CA2D0D36CF00B352A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4393D52D0D36DD00B352A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4393E02D0D36EA00B352A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB609C842CF6641C000787F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB609C8F2CF6643C000787F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB609C9A2CF6645A000787F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB609CB52CF7B04B000787F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB609CC02CF7B05A000787F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB609CCB2CF7B066000787F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB609F032CF8F455000787F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB609F0E2CF8F468000787F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB609F192CF8F47D000787F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB80AB0C2CF11EE9002FC132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE06C992D4472BC00150BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE06CA42D4472C800150BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE06CAF2D4472D500150BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE06CC92D457B7F00150BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE06CD42D457B8D00150BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE06CDF2D457B9A00150BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABED97FB2CEF9CD200932178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF5B6652D0FD6430000F171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF5B6702D0FD6530000F171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF5B67B2D0FD65F0000F171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
